.contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-card {
    width: 90%; /* O el porcentaje que prefieras */
    margin-bottom: 16px;
}
